* {
    margin: 0;
    padding: 0;
}


    .container {
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px
        box-sizing: border-box
        border-radius:20px;
        background-color #001;

    .log {
        background-color: black;
        width: 100px;
        height: 100px;

    }