* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: rgb(171, 175, 179);
}

.con {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
}

#con li {
    text-decoration: none;
    color: blue;
    transition: color 0.3s;
}

#con a:hover {
    color: brown;
}

.con input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.con span {

    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 3px;
    transform-origin: 4px 0px;
    opacity: 0.55s ease;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
}
.berger{
opacity: 0;
}
.con input:checked~ul{
opacity: 1;
}

.con span:first-child {
    transform-origin: 0% 0%;
}


.con span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


.con input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


.con input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


.con input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

